name: Backend - Build and Test

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    - run: npm ci
      working-directory: backend
      if: hashFiles('backend/package-lock.json') != ''
    - run: npm run build --if-present
      working-directory: backend
      if: hashFiles('backend/package-lock.json') != ''
    - run: npm test --if-present
      working-directory: backend
      if: hashFiles('backend/package-lock.json') != ''
